@model BethanysPieShop.ViewModels.HomeViewModel
@{ 
    Layout = "_Layout";
}

<h2> @Model.Title</h2>

<div class="pies-wrapper">
    @foreach (var pie in Model.Pies)
    {
        <div class="pie">            
                <img src="@pie.ImageThumbnailUrl" alt="" />
                <h2>@pie.Name</h2>
                <h3>@pie.Price.ToString("c")</h3>
                <p>@pie.ShortDescription</p>              
            </div>
    }
</div>
