@model HomeViewModel
@{
    Layout = "_Layout";
}

<h2> @Model.Title</h2>

<div class="pies-wrapper">
    @foreach (var pie in Model.Pies)
    {


    <div class="pie">
        <img src="@pie.ImageThumbnailUrl" alt="" />
        <h4>@pie.Name</h4>
        <h5>@pie.Price.ToString("c")</h5>
        <p>@pie.ShortDescription</p>
        <a asp-controller="Home" asp-action="Details" asp-route-id="@pie.Id"><span></span></a>
    </div>
    }
</div>
